@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #b48850;
    background-color: #180b03;
    padding-top: 120px;
    padding-bottom: 50px;
}

/* Header and navbar centered and fixed on top of the all pages  */
header {
    position: fixed;
    top: 0;
    background-color: #180b03;
    width: 100%;
    padding-top: 1rem;    
}

h1,
h2 {
    font-family: Merriweather, serif;
    letter-spacing: 2px;
    color: #b48850;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
}

.logo {
    font-size: 150%;
}

.nav-list {
    list-style: none;
    text-align: center;
    font-size: 110%;
}

.nav-list li {
    display: inline-block;
    padding: 1.5rem;
}

a:link {
    text-decoration: none;
}

.nav-list a {
    color: #b48850;
}

.nav-list a:hover {
    color: #180b03;
    background-color: #b48850;
}

.active {
    color: #180b03;
    border-bottom: 2px solid #59aeaa;
}

/* Styled hero image with text centered inside*/
.hero-image {
    background-color: #180b03;
    color: #ffffff;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
    font-weight: bold;
}

.hero-text h2 {
    color: #ffffff;
    padding-bottom: 0.5em;
    text-transform: capitalize;
    font-size: 120%;
}

/* About section where content on larger screens is positioned in horizontal line
     and on smaller screens in vertical line with the help of flexbox and flex wrap
      */
.about-section {
    min-height: 450px;
}

.about-header {
    text-align: center;
    padding: 2rem 2rem;
    letter-spacing: 2px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #180b03;
}

.about-items {
    max-width: 450px;
    margin: 30px;
    text-align: justify;
    line-height: 1.5rem;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 1.5rem;
}

/* Tour guide section styled with flexbox and flex wrap to achieve responsiveness of the content */
.tour-guides {
    background-color: #59aeaa;
    color: #180b03;
    padding: 2rem 0;
}

.tour-guide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 30px;
}

.tg-header h2 {
    text-align: center;
    color: #180b03;
}

img {
    max-width: 100%;
    border-radius: 25px;
}

.tg-text {
    text-align: center;
    line-height: 1.8em;
    padding: 1rem;
}

/* Fotter is fixed on the bottom of the page */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #180b03;
    color: white;    
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 150%;
    padding: 1rem;
    color: #ffffff;
}

/* Style gallery with flexbox in order to achieve columns and rows */
.gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3.5rem 1rem 1rem 1rem;
}

.gallery img {
    max-width: 100%;
    height: auto;
    flex: 1;
}

/* Style contact page with hero image so that it covers whole page. */
.contact-image {
    color: #ffffff;
    font-weight: bold;
    background: url('../images/contactimage.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    flex-wrap: wrap;
    min-height: 1000px; 
}

.form-container {
    line-height: 2rem;
    text-align: center;
    background-color: #3f668bbe;
    padding: 1rem; 
}

.contact-header {
    letter-spacing: 2px;
    color: #ffffff;
}

.button {
    padding: 1em 2em;
    display: inline-block;
    background-color: #59aeaa;
    color: #180b03;
    font-weight: bold;
}

.button:hover {
    color: #59aeaa;
    background-color: #180b03;
}

input {
    padding: 0.5em;
}

.confirmation-message {
    padding: 2rem;
    color: #ffffff;
}

.confirmation-message p {
    text-align: center;
}

/* Reduce gap between nav bar and gallery on screens larger than 400px */
@media screen and (min-width: 400px) {
    .gallery {
        padding: 1rem 1rem 1rem 1rem;
    }
}

/* Display only icons on navbar on smaller screens */
@media screen and (max-width: 480px) {
    .nav-list span {
        display: none;
    }
}