@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;    
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color:#180b03;
    background-color: #180b03;
}

/* heading and logo */

h1,
h2 {
    font-family: Merriweather, serif;
    letter-spacing: 2px;
    color: #b48850;
}

#logo {
    text-align: center;
    padding-top: 1rem;
}

/* navigation links */

.nav-list {
    display: flex;
    justify-content: center;
    gap: 2rem;      
    width: fit-content; 
    list-style: none;
    font-size: 110%;
    letter-spacing: 2px;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

a:link {
    text-decoration: none;
}

.nav-list a {
    color: #b48850;
}

.nav-list a:hover {
    color: #180b03;
    background-color: #b48850;
}

.active {
    color: #180b03;
    border-bottom: 2px solid #59aeaa;
}

/* hero image */

.hero-image {
    background-color: #180b03;
    color: #ffffff;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    padding-top: 200px;
    padding-bottom: 200px;
} 

.hero-text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;  
    text-align: center;
    border: 3px solid #3f668b;
}

.hero-text h2 {
    color:#ffffff;
    padding-bottom: 0.5em;
    text-transform: capitalize;    
}

/* about section */

.about-header {
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 2px;
}

.about-container {
    display: flex;
    justify-content: center;    
    gap: 2rem;  
    flex-wrap: wrap;
}

.about-items {
    width: 350px;
    margin: 20px;     
    text-align: justify;
    line-height: 1.5rem;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 2em;
}

/* tour guide section */

.tour-guides {    
    background-color: #59aeaa;
    padding: 2rem;
    
}

.tour-guide-container {
    display: flex;    
    justify-content: center; 
    align-items: center;       
    gap: 2.5rem;   
    flex-wrap: wrap;   
    
}

.tg-header h2 {
    text-align: center;
    padding-bottom: 1.5rem;
    color: #180b03;
}

.tg-items {
    max-width: 450px;    
    line-height: 1.5rem;  
    align-items: center;
}

img {    
    width: 100%;
    
}

.tg-image {        
    padding-bottom: 1.5rem;
    flex-grow: 1;
    
    
}

.tg-text {            
    margin-bottom: 2rem;    
    text-align: center; 
    line-height: 1.8em;
    background-color: #b48850; 
    border-radius: 25px;
    padding: 1rem;   
    flex-grow: 1;
                
}

/* footer */

footer{
    height:100px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1rem;
    padding: 1rem;
    color: #ffffff;
}

/* gallery */

.gallery {
    display: flex;          
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;     
}

.gallery img {
    width: 450px;
    padding: 1rem;    
    flex: 1;   
}

/* contact page */

.contact-image {
    color: #ffffff;
    font-weight: bold;
    background: url('../images/contactimage.jpg') no-repeat center center;
    background-size: cover;
    display: flex;    
    align-items: center;
    flex-wrap: wrap;     
    height: 900px;
    
}  

.form {    
    margin-left: auto;
    margin-right: auto;    
    line-height: 2rem;
    background-color: rgb(63,102,139, .6);  
    max-height: 400px;
    padding: 2rem;
}

.contact-header {
    padding: 1rem;
    text-align: center;
}

.button {
    padding: 1em 2em;
    display: inline-block;
    background-color: #59aeaa;
    color: #180b03;
    font-weight: bold;
}

.button:hover {
    color: #59aeaa;
    background-color: #180b03;
}
    
input {    
     padding: 5px; 
}








