@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;    
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color:#b48850;
    background-color: #180b03;
    padding-top: 100px;
    padding-bottom: 100px ;    
}
/* Header and navbar centered and sticky on top of the page  */
header {
    position: fixed;
    top: 0;
    background-color:#180b03 ;
    width: 100%;
    padding-top: 1.5rem;
    overflow: hidden;
    margin-bottom: 40px;
}
h1,
h2 {
    font-family: Merriweather, serif;
    letter-spacing: 2px;
    color: #b48850;
    text-align: center;
}
.nav-list {
    list-style: none;
    text-align: center;
    font-size: 120%;
    letter-spacing: 2px;   
}
.nav-list li {
    display: inline-block;
    padding: 1rem;    
}
a:link {
    text-decoration: none;
}
.nav-list a {
    color: #b48850;    
}
.nav-list a:hover {
    color: #180b03;
    background-color: #b48850;
}
.active {
    color: #180b03;
    border-bottom: 2px solid #59aeaa;
}
/* Style hero image with text centered inside*/
.hero-image {
    background-color: #180b03;
    color: #ffffff;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
} 
.hero-text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;  
    text-align: center;
}
.hero-text h2 {
    color:#ffffff;
    padding-bottom: 0.5em;
    text-transform: capitalize;
    font-size: 120%;        
}
.about-section {
    min-height: 450px;
}
.about-header {
    text-align: center;
    padding: 2rem 2rem;
    letter-spacing: 2px;
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;        
    flex-wrap: wrap;   
    color: #180b03;
}
.about-items {
    max-width: 450px; 
    margin: 30px;     
    text-align: justify;
    line-height: 1.5rem;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 1.5rem; 
}
.tour-guides {    
    background-color: #59aeaa;
    color: #180b03;
    padding: 2rem 0;     
}
.tour-guide-container {
    display: flex;    
    justify-content: center; 
    align-items: center;       
    gap: 2rem;   
    flex-wrap: wrap;   
    margin: 30px;    
}
.tg-header h2 {
    text-align: center;
}
img {    
    max-width: 100%; 
    border-radius: 25px;  
}
.tg-text {            
    text-align: center; 
    line-height: 1.8em;
    padding: 1rem;                
}
footer {
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #180b03;
    color: white;
    text-align: center;   
}
.social-links {
    text-align: center;
}
.social-links > li {
    display: inline;
    padding: 1rem;
}
.social-links i {
    font-size: 150%;
    margin: 1em;
    padding: 1em;
    color: #ffffff;
}
/* Style gallery with flexbox in order to achieve columns and rows */
.gallery {
    display: flex;
    gap: 1rem;          
    flex-wrap: wrap; 
    padding: 4rem 1rem 1rem 1rem;   
}

.gallery img {
    max-width: 100%; 
    flex: 1;   
} 
/* Style contact page with hero image so that it covers whole page. */
.contact-image {
    color: #ffffff;
    font-weight: bold;
    background: url('../images/contactimage.jpg') no-repeat center center;
    background-size: cover;
    display: flex;    
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;     
    min-height: 1200px;    
    padding-top: 4rem; 
}  
.form-container {    
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1rem;       
    line-height: 3rem;
    text-align: center;
    background-color: #3f668bbe; 
    padding: 1rem; 

} 
.contact-us {
    min-height: 400px;                  
}   
.contact-header {    
    letter-spacing: 2px;
    color: #ffffff;
}
.button {
    padding: 1em 2em;
    display: inline-block;
    background-color: #59aeaa;
    color: #180b03;
    font-weight: bold;
}
.button:hover {
    color: #59aeaa;
    background-color: #180b03;
}    
.info {
    margin-bottom: 2rem;
}
input {    
     padding: 0.5em; 
}
.confirmation-message {
    padding: 2rem;
}
.confirmation-message p {
    text-align: center;
}
/* Reduce the gap between contents on contact page */
 @media only screen and (min-width: 1200px) {
    .info {
        margin-left: 50px;
    }
} 