@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;    
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color:#180b03;
    background-color: #180b03;
}

/* heading and logo */

h1,
h2 {
    font-family: Merriweather, serif;
    letter-spacing: 2px;
    color: #b48850;
}

#logo {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 200%;
}

/* navigation links */

.nav-list {
    list-style: none;
    text-align: center;
    font-size: 120%;
    letter-spacing: 2px;
    
}

.nav-list li {
    display: inline-block;
    padding: 1rem;
    
}

a:link {
    text-decoration: none;
}

.nav-list a {
    color: #b48850;
    
}

.nav-list a:hover {
    color: #180b03;
    background-color: #b48850;
}

.active {
    color: #180b03;
    border-bottom: 2px solid #59aeaa;
}

/* hero image */

.hero-image {
    background-color: #180b03;
    color: #ffffff;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    padding-top: 200px;
    padding-bottom: 200px;
} 

.hero-text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;  
    text-align: center;
}

.hero-text h2 {
    color:#ffffff;
    padding-bottom: 0.5em;
    text-transform: capitalize;    
}

/* about section */

.about-header {
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 2px;
}

.about-container {
    display: flex;
    justify-content: center;        
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.about-items {
    max-width: 450px;
    margin: 40px;     
    text-align: justify;
    line-height: 1.5rem;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 1.5rem; 
}

/* tour guide section */

.tour-guides {    
    background-color: #59aeaa;
    padding: 1rem 0;
    margin-bottom: 10px;
}

.tour-guide-container {
    display: flex;    
    justify-content: center; 
    align-items: center;       
    gap: 2rem;  
    flex-wrap: wrap;   
    margin: 40px;
}

.tg-header h2 {
    text-align: center;
    color: #180b03;
}

.tg-items {
    max-width: 500px;      
} 

img {    
    max-width: 100%;
    
}

.tg-image {        
    flex-grow: 1; 
    flex-basis: 50%;  
    
}

.tg-text {            
    text-align: center; 
    line-height: 1.8em;
    background-color: #b48850; 
    border-radius: 25px;
    padding: 1rem 0;
    flex-grow: 1; 
                
}

/* footer */

footer {
    min-height: 100px;
    
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
    padding: 1rem;
}

.social-links i {
    font-size: 150%;
    margin: 1em;
    padding: 1em;
    color: #ffffff;
}

/* gallery */

.gallery {
    display: flex;
    gap: 1rem;          
    flex-wrap: wrap; 
    padding: 0 1rem 1rem 1rem;   
}

.gallery img {
    max-width: 100%; 
    flex: 1;   
}

/* contact page */

.contact-image {
    color: #ffffff;
    font-weight: bold;
    background: url('../images/contactimage.jpg') no-repeat center center;
    background-size: cover;
    display: flex;    
    align-items: center;
    flex-wrap: wrap;     
    min-height: 1000px;
    margin-bottom: 10px;
    
}  

.form-container {    
    margin-left: auto;
    margin-right: auto;    
    line-height: 3rem;
    text-align: center;
    background-color: rgb(63,102,139, .6); 
    padding: 1.5rem;
}

.contact-us {
    min-height: 400px;
}
.contact-header {    
    letter-spacing: 2px;
    color: #ffffff;
}

.button {
    padding: 1em 2em;
    display: inline-block;
    background-color: #59aeaa;
    color: #180b03;
    font-weight: bold;
}

.button:hover {
    color: #59aeaa;
    background-color: #180b03;
}
    
input {    
     padding: 5px; 
}








